

	<div class=" space-around mt20 mb60 quantitative-container flex1">
		<div >
			<quantitative-analytical title="totalImpacts" sub-title="totalDetections" 
			logo="social:person" content-subtitle="impacts"
			name="totalImpacts"></quantitative-analytical>
		</div>
		<div>
			<quantitative-analytical title="detectedUsers" sub-title="impactedUsers" 
			logo="maps:transfer-within-a-station" content-subtitle="users" 
			name="totalUsersImpacted"></quantitative-analytical>
		</div>
		<div >
			<quantitative-analytical title="averageImpactFreq" sub-title="averageUserDetection"
			logo="editor:insert-chart" content-subtitle="impacts" name="avarageFrequency"></quantitative-analytical>
		</div>
		
	</div>
	
	
	<div class="demographic" th:include="common/demographic"></div>