<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW_hi5jQm2Ffb4GIa98vJdszgrma-qlJM&amp;libraries=places,drawing"></script>
<script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>
<script src="/js/libraries/maps/CartoUtils.js"></script>

<div th:include="campaigns/campaign-breadcrumb"></div>


<div class="container-fluid">
	<div th:include="common/new-attribution-model"></div>
</div>
