

<div class="col-sm-11 mt20" id="homeWork-container">
	<h3 data-text="-vitalZone"></h3>
	<infinia-map name="vitalZone" id="vitalZone-map" draw="true" class="homework" show-searcher="true" ></infinia-map>
</div>

<div class="col-sm-11 mt20" id="homeWork-container">
	<h3 data-text="-home"></h3>
	<infinia-map name="home" id="home-map" draw="true" class="homework" show-searcher="true" ></infinia-map>
</div>

<div class="col-sm-11 mt20" id="homeWork-container">
	<h3 data-text="-work"></h3>
	<infinia-map name="work" id="work-map" draw="true" class="homework" show-searcher="true" ></infinia-map>
</div>