

<div class="row">
	<div class="col-sm-6 mt10">
		<label data-text="-gender"></label>
		<selectable-list class="mt10" hide-block="true" hide-accept="true" name="gender"></selectable-list>
	</div>

	<div class="col-sm-6 mt10">
		<label data-text="-age"></label>
		<selectable-list class="mt10" hide-block="true" hide-accept="true" disable-sort="true" name="age"></selectable-list>
	</div>
</div>
<div class="row mt20">
	<div class="col-sm-6 mt20">
		<label data-text="-income.level"></label>
		<selectable-list class="mt10" hide-block="true" hide-accept="true" disable-sort="true" name="income_level"></selectable-list>
	</div>

	<div class="col-sm-6 mt20">
		<label data-text="-nationality"></label>
		<selectable-list class="mt10" hide-block="true" hide-accept="true" name="nationality"></selectable-list>
	</div>
</div>