$primary-color:#009fe3;
$contrast-color:#012c40;
$dark-background: #006c99;
$light-background: #009fe3;
$lighter-background: #daebf2;
$success: #60B660;
$error:#D25251;
$breadcrumb-active:#009fe3;
$breadcrumb-bg:#006c99;
$breadcrumb-color:white;
$breadcrumb-bg-color:white;
$home-background: white;
$home-text-color: #white;