
<div class="row">
	<div class="col-sm-12 mt20" id="homeWork-container">
		<h3 data-text="-home"></h3>
		<profile-map name="home" id="home-map" map-section="homeplace"></profile-map>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-12 mt20 mb20" id="homeWork-container">
		<h3 data-text="-work"></h3>
		<profile-map name="work" id="work-map" map-section="workplace"></profile-map>
	</div>
	
</div>

<div class="row">	
	<div class="col-sm-12 mt20 mb20" id="vitalZone-container">
		<h3 data-text="-vitalZone"></h3>
		<profile-map name="work" id="vitalZone-map" map-section="vitalzone"></profile-map>
	</div>
	
</div>