
<form>
	<collapsible-content title="formats" style-class="gold">
		<div class="row">
			<div class="form-group col-sm-8" id="format-list">
				<list-accept-block id="inventory-formats" hide-block="true"></list-accept-block>
			</div> 
		</div>
	<div id="deal-container">
		<div class="form-section-title" data-text="-deals"></div>
		
		<div class="row mt20">
			<div class="form-group col-sm-8" id="deal-list">
				<list-accept-block id="inventory-deals" hide-block="true"></list-accept-block>
			</div> 
		</div>
		
	</div>
	</collapsible-content>
</form>

