$primary-color: #C0A27D;
$contrast-color:#182D35;
$dark-background: #182D35;
$light-background: #c2c3c4;
$lighter-background: #EDEEEF;
$success: #60B660;
$error:#D25251;
$breadcrumb-bg:#eceded;
$breadcrumb-active: #676a6c;
$breadcrumb-color:#676a6c;
$breadcrumb-bg-color:#676a6c;
$home-background: #1E353B;
$home-text-color: #C0A280;