@media (min-width: 1200px) {
	
	.new_button {
		top:90px;
		right:20px;	
	}
	
	.menu-button {
		display:none;	
	}	


	h3 {
		margin-top:0!important;
	}


	.popup {
		.popup-container {
			max-width:70%;
		}
	}
}